# This file is designed to assist you with configuring your environment for
# testing the Active Directory provider, and also serves as a catalog of the environment
# variables that are required to test all of the resources in this provider.
#
# This should be copied to ~/.tf-ad-devrc.mk and edited accordingly.
#
# Note that the use of all of this file is not required - environment variables
# can still be completely set from the command line or your existing
# environment. In this case, don't use this file as it may cause conflicts.
#
# NOTE: Remove the annotations from any variables that have them inline, or
# else make will add the whitespace to the variable as well.
#
# The essentials. None of the tests will run if you don't have these.
export AD_URL      ?= server.url
export AD_DOMAIN   ?= server.domain
export AD_USER     ?= server.user
export AD_PASSWORD ?= changeme

# The following variables are shared across various tests. To ensure all tests
# succeed, it's probably best to set all of these to valid values.
export AD_COMPUTER_DOMAIN          ?= base-linux # Active Directory Domain
export AD_COMPUTER_OU_DISTINGUISHED_NAME	?= 'ou=DevComputers,dc=base-linux'  #AD OU Distinguished name
export AD_GROUP_OU_DISTINGUISHED_NAME ?= 'ou=DevGroups,dc=base-linux'  #AD OU Distinguished name

# vi: filetype=make
